<?xml version="1.0"?>
<!--
/**
 * UnCancelOrder
 *
 * @package Genmato_UnCancelOrder
 * @author  Vladimir Kerkhoff <support@genmato.com>
 * @created 2015-11-25
 * @copyright Copyright (c) 2015 Genmato BV, https://genmato.com.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Backend\Block\Widget\Context">
        <plugin name="uncancel_button_sales_view" type="Genmato\UnCancelOrder\Plugin\Block\Widget\Context"  sortOrder="1" />
    </type>
</config>